<div>
{{ section.settings.text_test_text }}
</div>
 {% schema %} {"tag":"div","name":"test","settings":[{"id":"text_test_text","type":"text","label":"test text","default":"test text<br\/>"}],"presets":[{"name":"test","category":"Liquify","blocks":[]}]} {% endschema %}