<div class="section_cols-wrapper">
  <div class="section_three-col">
    <div class="padding-global">
      <div class="showcase-text_wrapper">
        <p>
          {{ section.settings.text_showcase_text }}
        </p>
        <a href="{{ section.settings.url_explore_more_link }}" class="button explore-more_btn w-button">
          {{ section.settings.text_explore_more }}
        </a>
      </div>
    </div>
  </div>
  <div id="w-node-e8fc5c32-91a0-e654-63dd-660eb166819d-568c24db" class="section_three-col width-twice">
    <div class="padding-global">
      <div class="showcase-video w-embed">{{ section.settings.showcaseVideo }}</div>
    </div>
  </div>
</div>
{% schema %} {"tag":"div","name":"Video Showcase","class":"section_showcase","settings":[{"id":"text_showcase_text","type":"text","label":"Showcase - text","default":"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare."},{"id":"url_explore_more_link","type":"url","label":"Explore more link"},{"id":"text_explore_more","type":"text","label":"Explore more","default":"Button Text"},{"type":"video","id":"showcaseVideo","label":"Showcase video"}],"presets":[{"name":"Video Showcase","category":"Liquify","blocks":[]}]} {% endschema %}
